<!DOCTYPE html>
{%extends "seva/base.html"%}
{%block base %}

<style>
    .aaa{
        padding: 30px;
        
        margin-bottom: 100px;
        margin-top: 50px;
    }
    
</style>

<div class="container aaa">
<div class="jumbotron">
  <h2 style="color: green;">logout sucessful</h2>
  <h3><p>Thanks for visiting our website.. please login again!!</p></h3>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="../accounts/login" role="button">login</a>
  </p>
</div></div>
{%endblock base%}